{% load static %}

<footer style="background: #191970;">
    <ul class="vertical medium-horizontal menu">

    <li>  <a href="https://www.facebook.com/mgconsultoriayse"><img src="{% static 'img/facebook-wrap.png' %}" alt="facebook logo"></a></li>
  <!-- <li>  <a href="https://twitter.com/justinbieber"><img src="img/twitter-wrap.png" alt="twitter logo"></a></li>
    -->
    <li>   <p   style="color:white;">Telefono: 442 300 3127.</p>   </li>

  </ul>
  <p  align="right" style="color:white;"><sup>&copy; 2019 MG Consultoria.</sup></p>
</footer>
