{% extends 'base.html' %}

{% load static %}

{% block title %}
  {{ object.full_name }}
{% endblock title %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-4 card" style="width: 450px; margin-top: 10px;">
            <div class="card-divider">
                {{ curso.get_job_display }}
            </div>
            {% if curso.mapa %}
            <iframe src="{{curso.mapa }}" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            {% else %}
                <img src="{% static 'img/20.jpg' %}">
            {% endif %}

            <div class="card-section">
                <h4>Origen: </h4>  {{ curso.nombre }}
                <h4>Destino: </h4> {{ curso.direccion }}
                <h4>Fecha: </h4> {{ curso.fecha }}
                <h4>Horario: </h4> {{ curso.horario }}


            </div>

            {% if user.is_authenticated %}
                  <li>
                    <a href="{% url 'cursos_app:cursos_all' %}">Apartar Lugar</a>
                  </li>

                  <li>
                    <a href="{% url 'cursos_app:cursos_all' %}">Regresar a la lista</a>
                  </li>


               {% else %}
                  <li>
                    <a href="{% url 'cursos_app:cursos_all' %}">Regresar a la lista</a>
                  </li>

            {% endif %}

        </div>
    </div>
</div>

{% endblock content %}

<h1>Detalle de usuarios {{ titulo }}</h1>
{{ user }}

<h3>Todos los datos:</h3>
<p>{{ empleado.first_name }}</p>
<p>{{ empleado.last_name }}</p>
<p>{{ empleado.departamento }}</p>
<p>{{ empleado.habilidades }}</p>
